<!--CONTACTME SECTION-->
<div id="tf-contact" class="contactme">
    <div class="bcgcolor">
        <div id="container" class="container">
            <h1 id="contactme" class="sectionTitle">Contact Me</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h3 class="findmeon">You can find me on:</h3>
                    <div class="social">
                        <a href="{{myData.fbLink}}" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a>
                        <a href="{{myData.inLink}}" class="link linkedin" target="_blank"><span class="fa fa-linkedin-square"></span></a>
                        <a href="#" class="link google-plus" target="_blank"><span class="fa fa-google-plus-square"></span></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form id="contact">
                        <div class="form-group">
                            <input type="name" class="form-control" id="exampleInputName1" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary my-btn dark">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <h2 class="emailBig"><a href="mailto:{{myData.email}}" target="_top">{{myData.email}}</a></h2>
            </div>
        </div>
    </div>
</div>
<!-- END OF CONTACTME -->