<!--PORTFOLIO SECTION-->
<div class="portfolio">
    <div class="bcgcolor">
        <div class="container-fluid">
            <div id="container2" class="overflowclass portfoliocontainer reorder">
                <h1 id="portfolio" class="sectionTitle">Portfolio</h1>
                <div class="row padding">
                    <div class="col-xl-5 col-lg-5 col-md-5 item1">
                        <div class="portfolioPicDiv">
                            <img class="img-responsive portfoliopic" src="https://s9.postimg.org/5kxqv0r3z/2016_08_28_2306.png">
                            <div style="text-align:center;">
                                <button onclick="myFunction01()" class="btn2 btn2-blue btn2-border-o">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 item2">
                        <h3><a href="" target="_blank">Bets Tracker & Analyser</a></h3>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 item3">
                        <blockquote class="projecttext">
                            &nbsp;&nbsp; Project idea creator and developer.
                            <br> I worked on this project for 3 years developing Bets Tracker and Bets Analyser in WinForms using C#, Entity Framework and SQL Db. One part of data used in application is parsed from web, and other part is calculated from
                            that data and saved in database tables.
                            <br> &nbsp;&nbsp; Main Idea of Bets Tracker is to track your bets everyday with easy data entry UI, edit and delete bets and track your overall wins and loses.
                            <br> &nbsp;&nbsp; In Bets Analyser you can see data like last 50 games, games between current game opponents, points per game, ATS, SU and Over/under stats.
                            <br> Also, you can see current live games lines and results if games are in progress.
                            <br> By clicking on analyse current game, you get results from similar games and application predicts for you which bet to take (e.g. 85% on Over).
                        </blockquote>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row padding reorder-xs">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-xs-12 item3">
                        <h3><a href="https://betskiller.com/" target="_blank">BetsKiller</a></h3>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 item2">
                        <blockquote class="projecttext">
                            &nbsp;&nbsp; Project idea creator and developer.
                            <br> This project is a continuation on Bets Tracker and Analyser project which was made in WinForms, BetsKiller is made in ASP.NET MVC using Entity Framework and JSON APIs to recieve and parse data from the reliable stats source.
                            <br> &nbsp;&nbsp; BetsKiller consists of many views, among which we have Dashboard with various stats and info about games and offers. BetsTracker page to track your bets, Sports picks, Team Stats, Leaders, Standings etc.
                            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </blockquote>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-xs-12 item1">
                        <img class="img-responsive portfoliopic portfoliopicright" src="https://s10.postimg.org/61qj70zeh/Logo_origigi.png">
                        <div style="text-align:center;">
                            <button onclick="myFunction02()" class="btn2 btn2-blue btn2-border-o">View more</button>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row padding">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-xs-12 item1">
                        <img class="img-responsive portfoliopic" src="https://s10.postimg.org/61qj70zeh/Logo_origigi.png">
                        <div style="text-align:center;">
                            <button onclick="myFunction03()" class="btn2 btn2-blue btn2-border-o">View more</button>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-xs-12 item2">
                        <h3><a href="" target="_blank">Project Title</a></h3>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-xs-12 item3">
                        <blockquote class="projecttext">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF PORTFOLIO -->