<div class="main">
    <div id="container">
        <h1 id="home" class="title">
            <span id="maintitle" class="titleborder">{{myData.name}} {{myData.surname}}</span> </h1>
        <span>
        <h2 class = "undertitle">{{myData.knowledge}}</h2>
      </span>
        <div class="badgescard">
            <span class="devicons devicons-github_full"></span>
            <span class="devicons devicons-jira"> </span>
            <span class="devicons devicons-javascript"></span>
            <span class="devicons devicons-html5"></span>
            <span class="devicons devicons-css3"></span>
            <span class="devicons devicons-visualstudio"></span>
            <span class="devicons devicons-dotnet"> </span>
            <span class="devicons devicons-msql_server"> </span>
        </div>
    </div>
</div>